<template>
  <div class="main main-component">
    <div class="container">
      <div class="users-box">
        <el-card
          class="user-box__user card-box"
          v-for="user in getAllUsers"
          :key="user.id"
        >
          <div class="user__name user">
            <i class="el-icon-s-custom"></i>
            <span>{{ user.name }}</span>
          </div>
          <div class="user user__username">
            <i class="el-icon-user"></i>
            <span>{{ user.username }}</span>
          </div>
          <div class="user user__address">
            <i class="el-icon-s-home"></i>
            <span>{{ user.address.city }}</span>
          </div>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("users", ["getAllUsers"]),
  },

  methods: {
    ...mapActions("users", ["getUsers"])
  },

  mounted() {
    this.getUsers();
  },
};
</script>

<style lang="scss">
@import "./style.scss";
</style>