@import '@/assets/__responsive.scss';

.main {
  padding: 20px 0;
  .container {
    .users-box {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .user-box__user {
        width: 270px;
        height: 100%;
        .el-card__body {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .user {
            display: flex;
            gap: 10px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
