<template>
  <el-card class="header header-container box-card">
    <div class="container">
      <div class="header__box">
        <div class="box__content-left">
          <div class="logo">
            <img src="./img/logo.svg" alt="logo" />
          </div>
        </div>
        <div class="box__content-right">
          <div class="select_sort">
            <el-dropdown trigger="click">
              <span class="el-dropdown-link">
                Sort By<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item icon="el-icon-s-home">
                  <button @click="chooseSortOption('city')">City</button>
                </el-dropdown-item>
                <el-dropdown-item icon="el-icon-s-custom">
                  <button @click="chooseSortOption('name')">Name</button>
                </el-dropdown-item>
                <el-dropdown-item icon="el-icon-user">
                  <button @click="chooseSortOption('username')">Username</button>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  methods: {
    ...mapActions('users', ['sortByChooseOption']),

    chooseSortOption(option) {
      this.sortByChooseOption(option);
    }
  }
};
</script>

<style lang="scss">
@import "./style.scss";
</style>