<template>
  <el-card class="footer footer-container box-card">
    <div class="container">
      <div class="footer__copyright-text">
        <span>Copyright © 2022</span>
      </div>
    </div>
  </el-card>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import './style.scss';
</style>