* { 
  margin: 0;
  padding: 0;
  outline: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .body {
    flex: 1;
  }
}

.el-dropdown-menu {
  li {
    button {
      background-color: transparent;
      border: none;
    }
  }
}