<template>
  <div id="app">
    <div class="header">
      <Header />
    </div>
    <div class="body">
      <Main />
    </div>
    <div class="footer">
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from "@/components/header";
import Main from '@/components/main'
import Footer from "@/components/footer";
export default {
  components: {
    Header,
    Main,
    Footer,
  }
};
</script>

<style lang="scss">
@import "@/assets/__global.scss";
</style>
